name: Build Push and Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: docker build -t ${{ vars.DOCKERHUB_USERNAME }}/himanshu-portfolio:latest .

      - name: Push image
        run: docker push ${{ vars.DOCKERHUB_USERNAME }}/himanshu-portfolio:latest

      - name: Deploy to Minikube
        run: |
          kubectl apply -f k8s/
          kubectl rollout restart deployment/portfolio-app
          kubectl rollout status deployment/portfolio-app
